.body-content {
  
  width: 72%;
  margin: auto;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-box-shadow: 0px 0px 50px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 50px -6px rgba(0,0,0,0.75);
   box-shadow: 0px 0px 50px -6px rgba(0,0,0,0.75); margin-top: 3em;
  
}

.navbar {
    
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.container{
  width: 85%;
  margin: auto;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inner-body { 
  margin: auto;
  width: 70%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.nav-item1 {
  
  padding-top: 2.5em;
  padding-left: 30%
    
}

.nav-item2 {
  
  padding-top: 2.5em;
  padding-left: 20%

  
}
.nav-item3 {
  
  padding-top: 2.5em;
  padding-left: 20%

  
}


.navbar-expand-sm {

  background: linear-gradient(to right,#2e3192 0,#0066b3 100%);
}

a {

  color: #FFF
}

.banner-image{

  width: 100%;
  max-width: 100%;
  height: auto;
  position: absolute;
  
}


